body{
    text-decoration: black;
    display: list-item;
}
.container{
    display: inline-block;
    width: 100%;
    
}

.container-head{
    text-align: left;
    background-color: aqua;
    display: inline-block;
    padding-right: auto;
}

.img-produto{
    content: icon;
    display:block;
    background-color: blue;
    background-image: url(../img/produto1.jpg);
    width: auto;
    height:100% ;
    padding-left: auto;
}

.container-view{
    background-color: blueviolet;
}

.container-foot{
    display: flexbox;
}

.itens-registro{

}

.sem-criatividade{


}

.total{

}

.paradas-chatas{

}

.codigo{

}

.quantidade{
    
}

.time{

}
